:root {
    /* Default Theme (Dark) */
    --bg-dark: #282828;
    --bg-light: #3c3836;
    --border-color: #504945;
    --text-light: #ebdbb2;
    --highlight: #fabd2f;
    --button-bg: #458588;
    --button-hover: #076678;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --red: #cc241d;
}

/* Monochromatic Theme (Shades of Blue) */
body.monochrome {
    --bg-dark: #1a3553;
    --bg-light: #336699;
    --border-color: #5596de;
    --text-light: #d0e0f0;
    --highlight: #7ba7d6;
    --button-bg: #5c8ac6;
    --button-hover: #88b3e0;
}

/* Analogous Theme (Blue, Teal, Green) */
body.analogous {
    --bg-dark: #1b4d40;
    --bg-light: #238b7e;
    --border-color: #3ba99d;
    --text-light: #c5e8e5;
    --highlight: #80c4be;
    --button-bg: #5fa68a;
    --button-hover: #78b8a3;
}

/* Complementary Theme (Blue and Orange) */
body.complementary {
    --bg-dark: #1d3a5f;
    --bg-light: #f5d7b5;
    --border-color: #e8a55f;
    --text-light: #283a4d;
    --highlight: #d07e30;
    --button-bg: #e09b5f;
    --button-hover: #d07e30;
}

/* Triadic Theme (Red, Yellow, Blue) */
body.triadic {
    --bg-dark: #633c32;
    --bg-light: #f3dcc3;
    --border-color: #e1b763;
    --text-light: #5a2c2c;
    --highlight: #d6a253;
    --button-bg: #d88f6b;
    --button-hover: #a07a5c;
}

/* Complementary Theme (Blue and Orange) - Light Mode */
body.complementary-light {
    --bg-dark: #d6782e;
    --bg-light: #fae3c8;
    --border-color: #e0a571;
    --text-light: #37475a;
    --highlight: #455a75;
    --button-bg: #e0a571;
    --button-hover: #d6782e;
}

/* Triadic Theme (Red, Yellow, Blue) - Light Mode */
body.triadic-light {
    --bg-dark: #d86a4b;
    --bg-light: #fae8d1;
    --border-color: #e3c27e;
    --text-light: #69433a;
    --highlight: #755044;
    --button-bg: #7392c3;
    --button-hover: #dfba88;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    font-family: "Inter", "Roboto", "Arial", sans-serif;
}
