:root {
  /* Default Theme (Dark) */
  --bg-dark: #282828;
  --bg-light: #3c3836;
  --border-color: #504945;
  --text-light: #ebdbb2;
  --highlight: #fabd2f;
  --button-bg: #458588;
  --button-hover: #076678;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --red: #cc241d;
}

/* Monochromatic Theme (Shades of Blue) */
body.monochrome {
  --bg-dark: #0e2439;
  --bg-light: #2d5c88;
  --border-color: #4a90e2;
  --text-light: #ffffff;
  --highlight: #6fa3d3;
  --button-bg: #3972b2;
  --button-hover: #5a9fd8;
  --red: #c96b63;
}

/* Analogous Theme (Blue, Teal, Green) */
body.analogous {
  --bg-dark: #103b33;
  --bg-light: #2c8a7d;
  --border-color: #4bbfad;
  --text-light: #ffffff;
  --highlight: #6cd6c8;
  --button-bg: #3f9b82;
  --button-hover: #56bfa1;
  --red: #c96b63;
}

/* Complementary Theme (Blue and Orange) */
body.complementary {
  --bg-dark: #142f4c;
  --bg-light: #fbe6cf;
  --border-color: #f0a15c;
  --text-light: #0f1f30;
  --highlight: #d67e2e;
  --button-bg: #f0a15c;
  --button-hover: #d67e2e;
  --red: #c96b63;
}

/* Triadic Theme (Red, Yellow, Blue) */
body.triadic {
  --bg-dark: #4b2a25;
  --bg-light: #f4e2ca;
  --border-color: #e0a847;
  --text-light: #2e1b1b;
  --highlight: #ce903b;
  --button-bg: #cf7d5d;
  --button-hover: #9b644f;
  --red: #cc5f5b;
}

/* Complementary Theme (Blue and Orange) - Light Mode */
body.complementary-light {
  --bg-dark: #d6701e;
  --bg-light: #fdf1e4;
  --border-color: #df9a5e;
  --text-light: #2e3c4e;
  --highlight: #3e5472;
  --button-bg: #df9a5e;
  --button-hover: #c7651b;
  --red: #c96b63;
}

/* GitHub Theme - Softer Light Mode with Darker Grey */
body.github-light {
  --bg-dark: #cfd4da;
  --bg-light: #f0f3f6;
  --border-color: #98a3af;
  --text-light: #0d1117;
  --highlight: #0969da;
  --button-bg: #2da44e;
  --button-hover: #1a7f37;
  --red: #bf4a47;
}



body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: "Inter", "Roboto", "Arial", sans-serif;
}
