:root {
    --bg-dark: #282828;
    --bg-light: #3c3836;
    --border-color: #504945;
    --text-light: #ebdbb2;
    --highlight: #fabd2f;
    --button-bg: #458588;
    --button-hover: #076678;
    --box-shadow: rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--bg-dark);
    color: var(--text-light);
    font-family: "Inter", "Roboto", "Arial", sans-serif;
}